@font-face {
  font-family: 'Ar-Ciela'; /* 自定义的字体名称 */
  src: url('../_fonts/ar-ciela.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hymmnos'; /* 自定义的字体名称 */
  src: url('../_fonts/hymmnos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

button {
  font-size: 14px;
}

.Ar {
  font-family: Ar-Ciela;
}

.Hy {
  font-family: Hymmnos;
}

.显隐 {
  display: none;
  height: 6em;
}

.UP {
  position: relative;
}
.UP span {
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
}