.V {
  font-family: Wingdings;
}

.显隐 {
  display: none;
  height: 6em;
}

.UP {
  position: relative;
}
.UP span {
  position: absolute;
  bottom: 1.5em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
}